<div class="wrapper-actors">
  <div class="container">
    <div class="row">
      <% @actors.each do |actor, index| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to actor_path(actor) do %>
            <div class="card-actor">
              <div class="card-body">
                <div class="card-picture" id="actor_<%= index%>" style="background-image:url('<%= actor.image_id? ? cloudinary_url(actor.image_id, height: 300, width: 400, crop: :fill, gravity: :face) : image_path('background.jpg') %>')"></div>
                    <div class="card-infos">
                      <ul class="list-inline">
                      <% if actor.first_name? && actor.last_name? %>
                        <li>
                        <%= actor.first_name.titleize %> <%= actor.last_name.titleize %>
                        </li>
                      <% end %>
                      </ul>
                    </div>
              </div>
              <div class="card-footer">
                <p>posté par</p>
                <img src="http://placehold.it/30x30" alt="" class="avatar">
                <a href="#">Eleken</a> <!-- user qui l'a ajouté -->
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
