<div class="wrapper-actors">
  <div class="container">
    <div class="row">
      <% @actors.each do |actor, index| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to actor_path(actor) do %>
            <div class="card-actor">
              <div class="card-body">
                <div class="card-picture" id="actor_<%= index%>" style="background-image:url('<%= actor.image_id? ? cloudinary_url(actor.image_id, height: 300, width: 400, crop: :fill, gravity: :face) : image_path('background.jpg') %>')">
                    <div class="card-hover">
                      <% if actor.first_name? && actor.last_name? %>
                        <p><%= time_ago_in_words(actor.created_at) %></p><br>
                        <p><%= pluralize(actor.reviews.count, "review") %></p>
                    </div>
                  </div>
                  <div class="card-infos">
                    <ul class="list-inline">
                      <li>
                        <h4><%= actor.first_name.titleize %> <%= actor.last_name.titleize %></h4>
                      </li>
                    <% end %>
                    </ul>
                  </div>
                </div>
                <div class="card-footer">
                  <p>posté par <em><%= actor.user.username %></em></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
