<div class="wrapper-actor-info">
  <div class="container">
    <div class="row">
      <div id="actor-div">
        <div class="col-xs-12 col-md-6">
          <div id="display">
            <%= div_for(@actor, class: "foo") do |actor| %>
            <div class="actors-infos">
              <h3><%= actor.first_name.titleize %> <%= actor.last_name.titleize %></h3>
              <p><strong><%= actor.profession.titleize %></strong></p>
              <p><%= actor.biography %></p>
              <p><%= pluralize @reviews.size, "commentaire" %></p>
            </div>

            <div class="partial-reviews">

              <%= render partial: 'reviews/reviews_partial' %>

              <div id="new-review">

                <%= render partial: "reviews/form", locals: {reviewable: actor} %>

              </div>
            </div>

            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="actor-profile">
            <div class="picture" id="image-actor">
              <%= cl_image_tag @actor.image_id, height: 400, width: 400, crop: :fill, class: "image-movie" %>
              </div>
              <p>Filmographie:</p>
              <% @actor.movies.each do |actor_movies| %>
                <div class="actor_movies">
                  <%= cl_image_tag actor_movies.picture, height: 90, width: 70, crop: :fill %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

